.content {
  background-image: url(../images/ep_naturalblack.png);
}

.width {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  width: 100%;
  margin: 0px;
  background-color: #fff;
  color: #fff;

}

.navbar-brand {
  font-family: 'Georgia', Times, Times New Roman, serif;
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: 2em;
  height: 100%;
  padding: 5vh;
  border-style: solid;
  border-color: #4aaaa5;
  border-width: 5px;


}

.containerLeft {
  margin-top: 10px;
  margin-left: -10px;
  margin-right: 20px;
  margin-bottom: 100px;
  padding: 20px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-color: #dddddd;
}

.containerRight {
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 10px;
  margin-bottom: 300px;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  background-color: #ffffff;
  border-color: #dddddd;

}



.image {
  width: 250px;
  height: 182px;
  margin: 10px;
  position: relative;

}

.links {
  text-decoration: none;
  color: #777777;
  font-size: 1em;
}


.me {
  height: 234px;
  width: 191px;
  margin: 10px;
  float: left;
}

#header {
  background-color: #ffffff;
  margin-bottom: 25px;
  overflow: hidden;
  width: 100%;
}


h4 {
  position: absolute;
  top: 35px;
  left: 10px;
  width: 270px;


}

h4 span {
  color: #ffffff;
  text-align: center;
  width: 270px;
  font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #4aaaa5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 66px;
  padding-right: 65px;
}


li a {
  display: inline;
  width: 65%;
}

span a {
  text-decoration: none;
  color: #ffffff;
}

span a:hover {
  text-decoration: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}
h1, h2, h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h2, h3 {
  color: #4aaaa5
}
p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  line-height: normal;
}

body {
  background-image: url("./assets/images/ep_naturalblack.png");
}

button {
  height: 40px;
  width: 115px;
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: 20px;
  border: none;
}

.github {
 float: left;
 width: 60px;
 height: 60px;
 display:block;
 margin: 5px;
 background:transparent url('../images/githubIcon.png') center top no-repeat;
}

.github:hover {
  width: 60px;
  height: 60px;
  display: block;
   background-image: url('../images/githubHover.png');
}

.linkedin {
  float: left;
  width: 60px;
  height: 60px;
  display:block;
  margin: 5px;
  background:transparent url('../images/linkedinIcon.png') center top no-repeat;
}

.linkedin:hover {
  width: 60px;
  height: 60px;
  display: block;
   background-image: url('../images/linkedinHover.png');
}

.stack {
  float: left;
  width: 60px;
  height: 60px;
  display:block;
  margin: 5px;
  background:transparent url('../images/overflowIcon.png') center top no-repeat;
}

.stack:hover {
  width: 60px;
  height: 60px;
  display: block;
   background-image: url('../images/StackHover.png');
}
